<h1>knockout cs sample</h1>
<p>Edit in <span>myapp/views/index.ejs</span></p>
<input type="text" data-bind="value: name"></input>
<button data-bind="click: addToNames">Add</button>
<ul data-bind="foreach: names">
	<li><span data-bind="text: $data.name"></span> (<a href="#" data-bind="click: $parent.removeName.bind($data)">Remove</a>)</li>
</ul>
